CompileFlags:
  Add:
    - -std=c++17
    - -I/mnt/home/Projects/iowarp/content-transfer-engine/core/include
    - -I/mnt/home/Projects/iowarp/content-transfer-engine/core/include/chimaera
    - -I/mnt/home/Projects/iowarp/content-transfer-engine/build
    - -I/mnt/home/Projects/iowarp/iowarp-runtime/include
    - -I/mnt/home/Projects/iowarp/iowarp-runtime/include/chimaera
    - -I/mnt/home/Projects/iowarp/cte-hermes-shm/include
    - -I/usr/include/yaml-cpp
    - -DHSHM_MCTX=hshm::Config()
  Remove:
    - -march=*
    - -mtune=*

Diagnostics:
  Suppress:
    - pp_file_not_found
    - undeclared_var_use
    - expected_class_name
    - unknown_typename
    - fatal_too_many_errors

Index:
  Background: Build