name: Build and Push Docker Images
on:
  workflow_dispatch:
jobs:
  build-docker-images:
    runs-on: ubuntu-20.04
    steps:
      - name: Cache Hermes deps Docker
        uses: actions/cache@v3
        id: docker-deps-cache
        with:
          path: ci/deps/deps.Dockerfile
          key: docker-${{ hashFiles('docker/deps.Dockerfile') }}
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push deps.Dockerfile
        uses: docker/build-push-action@v4
        if: steps.docker-deps-cache.outputs.cache-hit != 'true'
        with:
          context: ./
          file: ./docker/deps.Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: hdfgroup/hermes-deps:latest
#      - name: Build and push dev.Dockerfile
#        uses: docker/build-push-action@v4
#        with:
#          context: ./
#          file: ./docker/dev.Dockerfile
#          builder: ${{ steps.buildx.outputs.name }}
#          push: true
#          tags: hdfgroup/hermes-dev:latest
#      - name: Build and push user.Dockerfile
#        uses: docker/build-push-action@v4
#        with:
#          context: ./
#          file: ./docker/user.Dockerfile
#          builder: ${{ steps.buildx.outputs.name }}
#          push: true
#          tags: hdfgroup/hermes:latest

  # Build and push Content Transfer Engine Docker images
  build-cte-images:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        id: buildx

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build and push build.Dockerfile
        uses: docker/build-push-action@v4
        with:
          context: ./
          file: ./docker/build.Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: iowarp/context-transfer-engine-build:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

      - name: Build and push deploy.Dockerfile
        uses: docker/build-push-action@v4
        with:
          context: ./
          file: ./docker/deploy.Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: iowarp/context-transfer-engine:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

      - name: Build and push redis_bench.Dockerfile
        uses: docker/build-push-action@v4
        with:
          context: ./
          file: ./docker/redis_bench.Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: iowarp/iowarp-redis-bench:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

      - name: Build and push wrp_cte_bench.Dockerfile
        uses: docker/build-push-action@v4
        with:
          context: ./
          file: ./docker/wrp_cte_bench.Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: iowarp/iowarp-cte-bench:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

      # Move cache to prevent it from growing indefinitely
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
